doctype 5
html
    head
        title= title
        meta (name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.min.css')
    body
        block content

        script(src='/vendor/jquery/jquery-1.10.2.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.min.css')
