<div class="row">
    <h2>Lista</h2>
</div>
<div class="row">
    <p class="offset8">
        <a class="btn" ng-href="#/post">Dodaj</a>
    </p>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="post in posts">
            <td>{{ post.title }}</td>
            <td>{{ post.content | limitTo: 120}}</td>
        </tr>
        </tbody>
    </table>
</div>